@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html,
body {
    font-family: Varela Round;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#theContainer {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

#theHeader {
    margin-bottom: 8px;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

#thePage {
    position:absolute;
    top: 50%;
    height:540px;
    margin-top: -270px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
}

#displayArea {
    width: 100%;
    height: 100%;
    background-color: #ccc;
    background-image: url('img/bgtile.png');
    background-repeat: repeat;
}

#theCanvas {
    position: relative;
    box-shadow: 3px 3px 30px black;
}

#theSidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(51, 51, 51, .8);
    padding: 20px;
    border-bottom-left-radius: 8px;
    color: #ccc;
}

#theColors {
/*    border: 2px solid #ccc;*/
	padding: 0px;
	width: 120px;
/*    margin: 10px auto;*/
    margin: 0px 0px 10px 0px;
}

#theColors li {
	padding: 10px 5px 10px 15px;
	list-style-type: none;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	width: 100px;
    position: relative;
}

#theColors li span {
    text-transform: uppercase;
}

.light {
    color: #ccc;
}

.dark {
    color: #000;
}

#colorButtons {
    margin-bottom: 15px;
}

#colorSliders {
    
}

#theButtons {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 20px;
    background-color: rgba(51, 51, 51, .8);
    border-top-right-radius: 8px;
}

#customSize {
    display: inline;
}

#theFooter {
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #333;
    border-top-left-radius: 8px;
}

#theFooter div {
    color: #ccc;
    font-size: 12px;
    text-align: right;
    margin: 8px;
    padding-top: 8px;
}

#theFooter a {
    text-decoration: none;
    color: #fff;
}

#colorControls {
    display: none;
    position: absolute;
    height: 30px;
    padding: 2px;
    text-align: left;
}

#expS, #expV {
/*    height: 10px;*/
    margin: 2px 0px 15px 0px;
}

/*#expS a, #expV a {*/
/*    height: 16px;*/
/*}*/

/*button, input, select {*/
/*    border: 1px solid #ccc;*/
/*    background: #333;*/
/*    color: #ccc;*/
/*    border-radius: 4px;*/
/*}*/

#colorSliders div.ui-slider {
    border: 0px;
    border-top: 1px solid #ccc;
    border-radius: 0px;
    background: none;
}

#colorSliders a.ui-slider-handle {
    width: 12px;
    height: 12px;
    background-image: url('img/arrow.png');
    background-color: transparent;
    border: none;
    margin-top: 3px;
    margin-left: -6px;
}
