@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html,
body {
    font-family: Varela Round;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#theContainer {
    min-height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

#theHeader {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #aaa;
}

#theHeader div {
    margin: 8px;
    font-size: 36px;
    color: #666;
}    

#thePage {
    position:absolute;
    top: 50%;
    height:540px;
    margin-top: -270px;
    left: 50%;
    width: 800px;
    margin-left: -400px;
}

#displayArea {
    width: 500px;
    height: 500px;
    background: #eee;
    border: 2px solid black;
    float: left;
    margin-bottom: 14px;
}

#theCanvas {
    width: 500px;
    height: 500px;
    position: relative;
    top: 0px;
    left: 0px;
}

#theSidebar {
    width: 272px;
    float: right;
    margin-left: 20px;
}

#theColors {
    border: 2px solid black;
	padding: 0px;
	width: 120px;
/*    margin: 10px auto;*/
    margin: 0px 0px 10px 0px;
}

#theColors li {
	padding: 10px 5px 10px 15px;
	list-style-type: none;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	width: 100px;
    position: relative;
}

#theColors li span {
    text-transform: uppercase;
}

.light {
    color: #ccc;
}

.dark {
    color: #000;
}

#colorButtons {
    margin-bottom: 15px;
}

#colorSliders {
    
}

#theButtons {
    clear: both;
}

#customSize {
    display: inline;
}

#theFooter {
    height: 40px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #aaa;
}

#theFooter div {
    color: #666;
    font-size: 12px;
    text-align: right;
    margin: 8px;
    padding-top: 8px;
}

#theFooter a {
    text-decoration: none;
    color: #eee;
}

#colorControls {
    display: none;
    position: absolute;
    height: 30px;
    padding: 2px;
    text-align: left;
}

#expS, #expV {
/*    height: 10px;*/
    margin: 2px 0px 15px 0px;
}

/*#expS a, #expV a {*/
/*    height: 16px;*/
/*}*/

/*button, input, select {*/
/*    border: 1px solid black;*/
/*    background: #666;*/
/*    color: #eee;*/
/*    height: 27px;*/
/*    padding: 2px 6px 3px 6px;*/
/*    margin: 2px;*/
/*}*/

#colorSliders div.ui-slider {
    border: 0px;
    border-top: 1px solid #000;
    border-radius: 0px;
}

#colorSliders a.ui-slider-handle {
    width: 0px;
    height: 0px;
    background-color: transparent;
    background-image: none;
    border-width: 3px 6px 11px 6px;
    border-radius: 0px;
    border-color: transparent transparent #000 transparent;
    border-style: dotted;
    margin-left: -6px;
}
