@import url(http://fonts.googleapis.com/css?family=Varela+Round);

body {
    font-family: Varela Round;
}

#theHeader {
    font-size: 36px;
    border-bottom: 2px solid black;
    margin-bottom: 60px;
}

#thePage {
    width: 800px;
    margin: 0px auto;
}

#displayArea {
    width: 500px;
    height: 500px;
    background: #eee;
    border: 2px solid black;
    float: left;
    margin-bottom: 14px;
}

#theCanvas {
    width: 500px;
    height: 500px;
    position: relative;
    top: 0px;
    left: 0px;
}

#theColors {
    border: 2px solid black;
    float: right;
	padding: 0px;
	width: 120px;
	margin: 10px auto;
}

#theColors li {
	padding: 10px 5px 10px 15px;
	list-style-type: none;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	width: 100px;
}

#theButtons {
    clear: both;
}

/*#theButtons button,*/
/*#theButtons select {*/
/*    border: 2px solid black;*/
/*    background: #eee;*/
/*    height: 20px;*/
/*    font-family: Varela Round;*/
/*    text-transform: uppercase;*/
/*    padding: 4px;*/
/*}*/

#customSize {
    display: inline;
/*    border: 2px solid black;*/
/*    height: 20px;*/
/*    padding: 4px;*/
}

/*#customSize input {*/
/*    border: 0px;*/
/*    padding: 0px;*/
/*}*/

/*#customSize button {*/
/*    background: #333;*/
/*    color: #eee;*/
/*    border-radius: 14px;*/
/*}*/
